logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/