@(listing: List[Item])

@main("Blanc | Listings") {
    <ul class="ul1">

        <div class="container-fluid">
            <div class="row">
                @for(product <- listing) {
                    <div class="col-md-4 bg5" onlick="@controllers.routes.Application.description(product.id);"
                    style="cursor: pointer;">
                        <img src ="assets/@product.image" height="200px">
                        <li><a href="@controllers.routes.Application.description(product.id)">@product.name</a> </li>
                        <li>@{"£%4.2f".format(product.price)}</li>
                        <br />
                    </div>
                }
            </div>
        </div>
    </ul>
}